html,
body {
    font-family: 'Oswald', sans-serif;
    font-size: large;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
}

.text-primary {
    color: #a67a05;
}

a {
    color: #636466;
}

.nav-link {
    color: #fdb515;
}

a:hover, a:focus, a:active {
    color: #a67a05;
}

h1.heading {
    line-height: 5rem;
    margin-bottom: 1.5rem;
}

h2.subheading {
    margin-bottom: 3rem;
}

h1 {
    text-transform: uppercase;
}

h2 {
    text-transform: uppercase;
}

nav {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-item a {
    text-decoration: none;
}

ul.navbar {
    padding: 0;
}

.nav-header {
    background-color: #000000;
    padding: 2rem;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1000;
    font-weight: 800;
    text-transform: uppercase;
}

.nav-header a {
    color: #fdb515;
    text-decoration: none;
}

.fixed-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 5vw;
}

#collapsible-header {
    display: none;
}

#nav-toggler {
    background-color: #000000;
    margin-right: 12vw;
    width: 6vw;
    height: 6vw;
    font-size: 4.5vw;
    text-align: center;
    border-radius: 25%;
    color: #fff;
    font-weight: 600;
}

.profile-picture {
    border-radius: 50%;
    width: 50%;
    margin: 0 auto;
    border: 0.5rem solid #636466;
}

.logo {
    width: 50%;
    margin: 0 auto;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #636466;
    border-radius: 100%;
    margin-right: 1rem;
    position: relative;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #a67a05;
}

.social-icon {
    width: 55%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

.large-icon {
    width: 75%
}

div.resume-item {
    display: flex;
    flex-direction: column;
}

div.resume-title, div.resume-subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.resume-subtitle {
    font-style: italic;
}

div.resume-section {
    padding: 1.5rem 7rem 5rem;
    max-width: 75rem;
}

div.resume-content {
    max-width: 45rem;
    text-transform: uppercase;
}

div.resume-detail {
    text-align: right;
    max-width: 20rem;
    text-transform: uppercase;
}

div.education-item {
    margin-bottom: 3rem;
}

li {
    margin-bottom: 1rem;
}

li.resume-item {
    margin-bottom: 0;
}

section.about-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 992px) {
    body {
        padding-left: 17rem;
    }
    h1.heading {
        font-size: 5rem;
    }
    h2.subheading {
        font-size: 1.5rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
    section {
        min-height: 100vh;
    }
    nav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }
    .nav-header {
        display: none;
        font-size: 2rem;
    }
    div.resume-content {
        font-size: 1.25rem;
    }
    div.resume-detail {
        font-size: 1.25rem;
    }
}

@media (max-width: 991px) {
    body {
        font-size: 4.5vw;
    }
    nav {
        display: none;
    }
    div.resume-section {
        padding: 7vw 4vw 7vw;
    }
    h1.heading {
        padding-top: 6vw;
        font-size: 10vw;
        line-height: 10vw;
        margin-bottom: 3vw;
    }
    h2.subheading {
        font-size: 6vw;
    }
    h1 {
        font-size: 7vw;
    }
    h2 {
        font-size: 6vw;
    }
    .nav-header {
        font-size: 4vw;
    }
    div.resume-content {
        font-size: 5vw;
    }
    div.resume-detail {
        font-size: 5vw;
    }
}
